<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')  %>
    <title>Home</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="container mx-auto  mt-3 row row-cols-4" >
        <% blogs.forEach(blog => { %>
            <div class="col mb-3">
                <div class="card col" style="width: 15rem; height: 20rem;"  >
                    <img src="<%= blog.coverImageURL %>" class="card-img-top" style="object-position: top; object-fit: cover;"  width="18rem" height="200px" alt="...">
                    <div class="card-body" >
                      <p class="card-title" style="font-weight: bold;"> <%= blog.title %> </p>
                      <a href="/blog/<%= blog._id %>" class="btn  btn-primary mt-auto">View</a>
                    </div>
                  </div>
            </div>
        <% }) %>
    </div>



     <%- include('./partials/script.js') %>
</body>
</html>